.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.controls {
  display: block;
  gap: 12px;
}

.test {
  display: flex;
  gap: 12px;
}

canvas {
  border: 1px solid black;
}

.testView {
  height: 300px;
  width: 300px;
}

.ordersView {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: 160px;
  justify-content: center;
  margin-top: 20px;
  overflow-y: auto;
}

button {
  cursor: pointer;
}

.buttonStyle {
  border-radius: 20px;
  background-color: #61b0b7;
  padding: 0.5rem;
}

.buttonLeftStyles {
  border-radius: 20px;
  background-color: #ff6961;
  padding: 0.5rem;
}

.buttonRightStyles {
  border-radius: 20px;
  background-color: #83a83b;
  padding: 0.5rem;
}

.imgSize {
  height: 40px;
  widows: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
